<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='renderer' content='webkit|ie-comp|ie-stand'/>

    <meta charset="UTF-8">
    <meta name="robots" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登录</title>
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<form method="" action="" id="loginForm">
    <div class="center-box clearfix">
            <img src="/images/chatu.png" class="leftPic">
            <div class="loginBox">
                <div class="loginContent">
                    <div class="loginBoxTitle">供应商登录</div>
                    <img src="/images/userpic.png" class="userPic">
                    <img src="/images/passpic.png" class="passPic">
                    <div class="forgetPass">忘记密码</div>
                    <img src="">
                    <input class="uerName" name="femailAccount" type="text" placeholder="请输入用户名/邮箱/手机号">
                    <input class="passWord" name="fpassword" type="password" placeholder="请输入密码">
                    <div class="textDiv">
                        <input type="checkbox" class="loginCheck">
                        <div class="ti">自动登录</div>
                        <span class="freeRegistration">免费注册</span>
                    </div>
                    <input class="loginBtn" type="button" value="登录">
                </div>
            </div>
    </div>
</form>
</body>
<script src="/js/lib/require/require.js"></script>
<script src="/js/require-config.js"></script>
<script src="/js/login.js"></script>
</html>