<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="webkit" name="renderer"/>
    <meta charset="UTF-8">
    <meta name="robots" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>商品管理</title>
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/commodityManger.css">
</head>
<body>
<input type="hidden" id="imgPath" value="{{imgPath}}">
{{include './common/header'}}
<div class="contentDiv row">
    <div class="leftDiv">
        <div class="inquiryCar">询价车</div>
        <div class="inquiryCarT" onclick="location.href='inquiryList'">询价列表</div>
        <div class="inquiryCarT" onclick="location.href='inquiryInfor'">议价信息</div>
        <div class="inquiryCar">商品管理</div>
        <div class="inquiryCarT" onclick="location.href='commodityManger'">商品入库</div>
        <div class="inquiryCarT active"  onclick="location.href='myGoods'">我的商品</div>
        <div class="inquiryCar">订单管理</div>
        <div class="inquiryCarT" onclick="location.href='orderCenter'">订单中心</div>
        <div class="inquiryCarT" onclick="location.href='monthlyOrder'">月结订单</div>
    </div>
    <div class="rightDiv">
        <div class="rightTopDiv">公告：侧一个系统公考</div>
        <div class="rightNextDiv">
            <div class="searchDiv">
                <input type="button" class="upGoods active" value="上架商品">
                <input type="button" class="downGoods" value="下架商品">
                <input type="button" class="invalidGoods" value="无效商品">
                <input class="searchInput" type="text" placeholder="请输入产品品牌，型号，名称之类的搜索条件">
                <input class="searchButton" type="button" value="搜索">
            </div>
            <div class="classification clearfix">
                <div class="classificationT">商品分类:</div>
                <div class="classificationBox">
                <ul class="classificationul" categoryIdf="">
                    <li catId="" id="all" class="active">全部</li>

                </ul>
                </div>
                <div class="leftChoose">〈 </div>
                <div class="rightChoose"> 〉</div>
            </div>
            <div class="titleDiv">
                <span class="title1">商品名称</span>
                <span class="title2">规格选择</span>
                <span class="title3">操作</span>
                <input id="removeInvalid" class="subMangerTopR" type="button" value="移除所有无效商品">
            </div>
            <ul class="classList clearfix">
                <div class="doing">加载中...</div>
            </ul>
            <div id="layPageBox"></div>
        </div>
    </div>
</div>
</body>
<script src="/js/lib/require/require.js"></script>
<script src="/js/require-config.js"></script>
<script src="/js/myGoods.js"></script>
</html>