.doing{
	width: 100%;
	margin-top: 40px;
	font-size: 25px;
	color: #666666;
	text-align: center;
}
.carNumber {
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	border-radius: 50%;
	position: absolute;
	right: -9px;
	top: 0px;
	background: #416fde;
	color: #fff;
	box-shadow: 0px 0px 2px 2px #f5bdbd;
}


.iblock .active{
	background: #416fde !important;
	color: #fff;
}
.hide{
	display: none;
}
.headerRow{
	width: 100%;
	height: 84px;
	margin: 0!important;
	background: #fff;
	border-bottom: solid #eeeeee 1px;
	background: #3c8bf5;
}
.header{
	width: 1200px;
	margin: 0 auto;
	height: 85px;
	line-height: 84px;
	position: relative;
	background: #3c8bf5;
}
.header .logo{
	padding-top: 18px;
	height: 66px;
	width: 310px;
	background: no-repeat center url('/images/logo.png');
}
.header > ul{
	margin-left: 50px;
}
.header>ul>li{
	float: left;
	width: 94px;
	text-align: center;
	cursor: pointer;
	position: relative;
	color: #fff;
	z-index: 102;
}

.inquiryCarT:hover{
	background: #538fde !important;
	color: #fff;
}

.header>ul>li:hover{
	background: #367ede!important;
}
/*.header .demand{
	width: 110px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	color: #ea0000;
	border:1px solid #ea0000;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	top:18px;
	right: 0;
}
.header .demand:active{
	top:19px;
}*/
.footer{
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-top: 1px solid #dddddd;
}
.footer h2{
	width: 100%;
	text-align: center;
}


.content{
	width: 1200px;
	margin: 0 auto;
}
.sideRight{
	width: 38px;
	height: 100%;
	background: #333333;
	position: fixed;
	right: -38px;
	transition: 0.5s;
	top: 0;
	z-index: 99;
}
.sideRight hr{
	width: 70%;
	border-color: #5a5656;
	margin: auto;
}
.sideRight li{
	width: 21px;
	text-align: center;
	padding: 16px 8px;
	font-size: 13px;
	margin: 0 auto;
	color: #fff;
	cursor: pointer;
	position: relative;
}
.sideRight li .tips{
	padding: 10px;
	width: 80px;
	height: 38px;
	line-height: 35px;
	color: #fff;
	position: absolute;
	top:0;
	right: -100px;
	background: #333333;
	transition: .6s;
	opacity: 0;
}
.sideRight li .tips:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #333;
	position: absolute;
	right: -5px;
	top: 22px;
}
.sideRight li:hover{
	background: #cc0000;
}
.sideRight li:hover	.ic-cart{
	width:19px;
	background-position:-204px -1px!important;
}
.sideRight li:hover	.tips{
	right: 36px;
	opacity: 1;
	z-index: 10;
}
.sideRight li span{
	width: 14px;
	margin: auto;
	display: block;
}

.sideRight li:nth-child(1){
	margin-top: 120px;
}
.sideRight li:last-child{
	margin-top: 100px;
	font: 12px/1.2 '新宋体'!important;
}
.ic-face{
	height:26px;
	width:21px;
	display: block;
	background: no-repeat url("/images/ic_index.png") -53px 0;
}
.ic-cart{
	height:26px;
	width:21px;
	background: no-repeat url("/images/ic_index.png") -178px -2px;
	display: block;
}
.ic-calculator{
	height:26px;
	width:21px;
	background: no-repeat url("/images/ic_index.png") 2px 0;
	display: block;
}
.ic-group{
	height:26px;
	width:21px;
	background: no-repeat url("/images/ic_index.png") -22.5px 0;
	display: block;
}
.ic-news{
	height:26px;
	width:21px;
	background: no-repeat url("/images/ic_index.png") -85px 0;
	display: block;
}
.ic_blance{
	height:26px;
	width:21px;
	background: no-repeat url("/images/ic_index.png") -150px 0;
	display: block;
}
.ic_goTop{
	height:18px;
	width:21px;
	background: no-repeat url("/images/ic_index.png") -231px 0;
	display: block;
}

.sideLeft{
	width: 158px;
	background: #f9f9f9;
	border: 1px solid #eeeeee;
	border-right: 0;
}
.sideLeft>li{
	padding-left:50px;
	line-height: 58px;
	font-weight: bold;
	color: #666666;
	border-bottom: 1px solid #eeeeee;
	cursor: pointer;
}
.sideLeft>li:last-child{
	border:0;
}
.sideLeft li.active{
	color: #ea0000;
}
.sideLeft>li:hover{
	color:#ea0000;
}
.sideLeft>ul{
	padding: 6px 0 10px  50px;
	line-height: 26px;
	font-size: 12px;
	border-bottom: 1px solid #eeeeee;
}
.sideLeft>ul>li{
	list-style: disc;
	cursor: pointer;
}

.sideLeft>ul>li:hover{
	color:#ea0000;
}
.searchBar{
	height: 74px;
	width: 1200px;
	margin: 20px auto;
	background: #f9f9f9;
	border: 1px solid #eeeeee;
}
.searchBar .title{
	margin-left: 30px;
	font-size: 18px;
	line-height: 70px;
}
.searchBar .searchBox{
	margin: 15px 0 15px 380px;
	overflow: hidden;
}
.searchBar .searchBox input[type=text]{
	background: #fff;
	height: 42px;
	width: 364px;
	padding-left: 5px;
	float: left;
	color: #666;
	border: 1px solid #eeeeee;
}
.searchBar .searchBox input[type=button]{
	background: #ea0000;
	height: 44px;
	line-height: 44px;
	border: 0;
	width: 90px;
	float: left;
	color: #fff;
	cursor: pointer;
}
.searchBox input[type=text]:focus{
	border: solid 1px #ea0000;

}
.productSearch:active{
	background: #f17272!important;
	line-height: 45px!important;
}
.searchBar .inquiryCar{
	width: 130px;
	height: 44px;
	margin: 15px 0 15px 24px;
	line-height: 44px;
	color: #999;
	text-align: center;
	border: 1px #eeeeee solid;
	cursor: pointer;
	position: relative;
}
.ic-inquiryCar{
	width: 38px;
	height: 32px;
	background: no-repeat url("/images/ic_inquiryCar.png") top;
	vertical-align: middle;
}
#layPageBox{
	width: 1200px;
	margin: 30px auto 10px auto;
	height: 40px;
	line-height: 40px;
	text-align: right;
}
.laypage_btn{
	cursor: pointer;
	height: 26px!important;
	border-radius: 2px;
}
.laypage_btn:active{
	background: #eee;
}



#cityBox>ul{
	width: 120px;
	height: 36px;
	line-height: 36px;
/*	border-radius: 2px;*/
	display: inline-block;
	vertical-align: top;
	*display:inline;
	zoom: 1;
	border: solid 1px #d1d1d1;
	margin: 4px 5px 4px 0;
	position: relative;
}
#cityBox>ul>em{
	margin-left: 8px;
	color: #999;
	cursor: pointer;
}

#cityBox>ul>i{
	display: block;
	position: absolute;
	width: 36px;
	height: 36px;
	right: 0;
	top:0;
	background: no-repeat center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFBAMAAABlfdtYAAAAElBMVEUAAACZmZmZmZmZmZmZmZmZmZn7TU31AAAABXRSTlMA3oAeDtYswUMAAAAiSURBVAjXY1ANDQ00YGAKDRVmYGBQDTQAkkxAJhA4MDAAAD6bAwvQvLn2AAAAAElFTkSuQmCC);
	background-color: #eee;
	cursor: pointer;
}
#cityBox>ul>i.active{
	transform: rotateZ(180deg);
}
#cityBox>ul>ul{
	background: #fff;
	border: solid 1px #d1d1d1;
	width: 120px;
	position: relative;
	left: -1px;
	display: none;
}
#cityBox>ul>ul>li{
	line-height: 32px;
	height: 32px;
	padding: 0 8px;
	margin: 0;
	width: auto;
	color: #999;
	cursor: pointer;
}
#cityBox>ul>ul>li:hover{
	background: #eee;
}