<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="webkit" name="renderer"/>
    <meta charset="UTF-8">
    <meta name="robots" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>消息中心</title>
    <link rel="stylesheet" href="/css/common/base.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/commodityManger.css">
    <link rel="stylesheet" href="/css/supplierNews/newsList.css">
</head>
<body>
<input type="hidden" id="imgPath" value="{{imgPath}}">
{{include '../common/header'}}
<div class="contentDiv row">
    {{include '../common/msgLeft'}}
    <div class="rightDiv">
		<div class="info">
       		 <ul class="discusUl">
      	     </ul>
     	     <div id="layPageBox"></div>
    	</div>
    </div>
</div>
</body>
<script src="/js/lib/require/require.js"></script>
<script src="/js/require-config.js"></script>
<script src="/js/supplierNews/newsList.js"></script>
</html>